body { margin:0; padding:0; background:#f3f3f3; }
h1,h2,h3,h4,h5,h6 { margin:8px 0; padding:0;}
h4 { color:#512088;}
a { text-decoration:none; color:#492a54;}
h2 { color:#DE610E; margin:22px 0;}
.add-header { color:#da5527; }
header { padding:20px; background:#fff;}
/* Bootstrap Override Styles */

.container-fluid.nopadd { padding:0 !important;}


.clientinfo { float:right; margin:8px 0 0 0; }
.clientinfo a { text-decoration:none; }
.clientinfo .dropdown-menu { border-radius:0; box-shadow: 0 1px 3px rgba(0, 0, 0, .175); } 
.clientinfo.open > .dropdown-toggle.btn-default:hover { color: #fff; background-color: #492a54; border-color: #da5527;}

.dropdown-menu.usermenu { position:absolute; top:100%; left:-100%; } 
.clientinfo .dropdown-menu.usermenu { right:0; } 

.btn-default:hover { color: #fff; background-color: #492a54; border-color: #da5527;}

.clientinfo .dropdown-menu > li > a:hover, .clientinfo .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #da5527;
}

.userbtn { display: inline-block; color:#fff; padding: 6px 20px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid #999; border-radius:5px; text-decoration:none; background-color:#da5527;}

.btn-primary {
    color: #fff;
    background-color: #da5527;
    border-color: #da5527;
}
.btn-primary:hover {
    color: #fff;
    background-color: #da5527;
    border-color: #da5527;
}

.btn-main {
    color: #fff;
    background-color: #5b3b79;
    border-color: #5b3b79;
}

.add-btn-primary {
    color: #fff;
    background-color: #da5527;
    border-color: #da5527;
	float:right;
}

.add-btn-primary:hover {
    color: #fff;
    background-color: #da5527;
    border-color: #da5527;
}

/* Button style for action field in track request*/

.btn-new	 {
    background-color: #999999;
}
.btn-open {
    background-color: #6600FF;
}
.btn-notint {
    background-color: #FF0000;
}
.btn-int {
    background-color: #FFFF00;
}
.btn-reg {
    background-color: #009900;
}

/* to show status in button based on colors starts */
.btn-green {
    background-color: #009900;
}
.btn-red {
    background-color: #FF0000;
}
.btn-yellow {
    background-color: #FFFF00;
}
.btn-blue {
    background-color: #6600FF;
}
.btn-grey {
    background-color: #999999;
}
/* to show status in button based on colors ends */

.btnn{
    display: inline-block;
    padding: 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 0.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* end */


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-no-style {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

.form-control:focus {
    border-color: #492a54;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.045), 0 0 4px rgba(73, 42, 84, .3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.045), 0 0 4px rgba(73, 42, 84, .3);
}

.breadcrumb {padding: 12px 15px;margin-bottom: 0px;list-style: none;background-color: #e3e3e3; 
border-bottom:1px solid #ccc; border-radius: 4px;}
.table.listhead > thead > tr > th { background:#da5527; color:#fff;}
.table.listhead > thead > tr > th.supplier { background:#999; color:#fff;}

.forms_wrapper .col-md-6 { padding-left:0px !important;}

/* Bootstrap Override Styles End */

/* New Styles */


.search_vehicle { margin-bottom: 12px; position:relative; list-style: none; background-color:#fff;border-radius: 4px;
border:1px solid #ddd;}
.searchform_wrapp { width:68%; float:left; padding: 15px 15px;}
.searchform_wrapp label { display:block;}
.addnew_wrapp { width:15%;  background:#da5527; position:absolute; bottom:10px; right:10px; /*border-top-right-radius:5px; border-bottom-right-radius:5px;*/ border-radius:8px; margin:10px 8px 0 0; display:block;  }
.addnew { text-align:center;}
.addnew > a { margin:0 auto 0 0; display:block; padding:12px; text-decoration:none; font-weight:bold; color:#fff; text-align:center; }
.addnew > a:hover { color:#fff;}
.form-inline.searchform .form-group { margin-right:3%;}

.main_content { margin:15px; background:#FFF; border:1px solid #039; padding:15px; /*box-shadow: 0 1px 3px rgba(0, 0, 0, .35);*/ }
.formsection { background:#fff; padding:15px; border-bottom:1px solid #ccc; border-top:1px solid #ccc;}
.listpage { }
.footer { padding:20px 0; background:#222; color:#fff; font-size:12px; position:fixed; bottom:0; display:block; width:100%;z-index: 2; }
.footer p { margin:0; padding:0;}
.footer a { text-decoration:none; color:#fd9f31;}
.footer span { padding:0 15px;} 

.contact_info h4 { font-size:16px; line-height:1.5; }
.contact_frm button { margin-right:15px; }
.forms_wrapper .contact_frm .col-md-6 {
    padding-left: 15px !important;
}
.nopad { padding:0 !important;}
.noleft_pad { padding-left:0 !important;}
.mgnbtm50 { margin-bottom:50px; }
.mgnbtm80 { margin-bottom:80px; }


.navbar-default { background-color:#FFFFFF; border:none; margin-bottom:0;}
.navbar-brand { padding:5px 15px;}
.navbar-default .navbar-nav > li > a { color:#fff;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #fff; background-color: #da5527; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #fff; background-color: #da5527; }
.userbtn.btn-default:active, .userbtn.btn-default.active, .open > .dropdown-toggle.btn-default.userbtn
{ color: #fff; background-color: #da5527; border-color: #2f1838;}

.navbar-default .navbar-nav > li > a { color:#da5527; border:1px solid #b27050; margin-right:15px; border-radius:4px; font-size:13px; text-transform:uppercase; font-weight:bold;}
.navbar-nav.nav .dropdown-menu { background:#da5527; margin-top: 2px; }
.navbar-nav.nav .dropdown-menu > li > a:hover { background:#2f1838; }

.navbar-default .navbar-nav > li > a { position:relative; color:#da5527; padding:8px 5px; border:1px solid #b27050; margin-right:8px; border-radius:4px; font-size:12px; text-transform:uppercase; font-weight:bold;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #fff; background-color: #da5527; }
.navbar-nav.nav .dropdown-menu > li > a:hover { background:#222; }
.navbar-default .navbar-nav > li > a.userbtn { color:#fff; }
.userbtn:hover, .userbtn { color: #fff; }

.navbar-nav.nav .dropdown-menu > li > a { border-bottom:1px solid #d57a5b; color:#fff; padding: 6px 20px; }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


@media (min-width:768px) { 


}

@media (max-width:992px) {

}

@media (max-width:992px) {

}

.txt_12_red_bold {
	font-size:12px;
	color:#da5527;
	font-weight:bold;
}
.txt_12_green_bold {
	font-size:12px;
	color:#009900;
	font-weight:bold;
}

/*--------info_load page style starts-----------------*/
.load_info { width:100%; position:relative; display:block; margin-bottom:20px;  
box-shadow: 0 1px 3px rgba(0, 0, 0, .35); height:auto; background:#f4f4f4;}
.load_info h3, loadinfo_wrapper h3 { font-size:16px; font-weight:bold; color:#000; margin:0 0 10px 0;}
.load_info p { margin-bottom:10px;} 

.loadinfo_wrapper { width:100%; position:relative; display:block; margin-bottom:20px; padding:10px; 
box-shadow: 0 1px 3px rgba(0, 0, 0, .35);  background:#f4f4f4;}
.price_info { width:100%; position:relative; display:block; margin-bottom:20px;  }
.map-canvas { width:100%; position:relative; display:block; margin-bottom:20px; padding:10px; 
box-shadow: 0 1px 3px rgba(0, 0, 0, .35); height:350px;}
.nvehicle_info { width:100%; position:relative; display:block; margin-bottom:20px; padding:10px; 
box-shadow: 0 1px 3px rgba(0, 0, 0, .35); height:220px; background:#f4f4f4; overflow:auto; } 

.charge_info { margin:0; padding:0; position:relative;}
.charge_info li { float:left; border:1px solid #999; text-align:center; color:#333; list-style:none; padding:15px 25px;}

.price_info .panel-primary { border:1px solid #337ab7; border-radius:5px;}

.main_content hr { margin:10px 0 ; border-color:#777;}
/*-----------info_load page style ends----------------*/

/* DASHBOARD STYLE STARTS */
/*widget*/
.user-heading.alt {
    display:inline-block;
    width:100%;
    text-align:left;
}
.alt.gray-bg {
    background:#474751;
}
.terques-bg {
    background:#1fb5ad;
}
.maroon-bg {
    background:#B566AB;
}
.green-bg {
    background:#66B568;
}

.profile-nav.alt.green-border ul>li>a:hover i {
    color:#1fb5ad;
}
.user-heading.alt a {
    float:left;
    margin-right:15px;
    margin-left:-10px;
    display:inline-block;
    border:5px solid rgba(255,255,255,0.3);
    border-radius:50%;
    -webkit-border-radius:50%;
}
.user-heading.alt a img {
    width:85px;
    height:85px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.twt-feed {
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    color:#FFFFFF;
    padding:40px 10px 10px;
    position:relative;
    min-height:170px;
}
.corner-ribon {
    text-align:center;
    width:71px;
    height:71px;
    position:absolute;
    right:0;
    top:0;
    font-size:20px;
}
.corner-ribon i {
    padding:10px 0 0 35px;
    color:#fff;
}
.blue-ribon {
    background:url("../images/twitter_corner_blue.png") no-repeat;
}
.black-ribon {
    background:url("../images/twitter_corner_black.png") no-repeat;
}
.twt-feed.blue-bg {
    background:#58C9F3;
}
.twt-feed h1 {
    font-size:18px;
    font-weight:300;
    margin-bottom:5px;
}
.twt-feed a {
    border-radius:50%;
    -webkit-border-radius:50%;
    float:left;
    margin:0 10px;
}
.twt-feed a img {
    height:85px;
    width:85px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.twt-category {
    display:inline-block;
    margin-bottom:11px;
    margin-top:10px;
    width:100%;
}
.twt-feed .wtt-mark {
    color:rgba(255,255,255,0.15);
    font-size:160px;
    position:absolute;
    top:10px;
    left:40%;
}
.twt-category ul li {
    color:#bdbdbd;
    font-size:13px;
}
.twt-category h5 {
    font-size:18px;
    font-weight:400 !important;
}
.twt-write .t-text-area {
    background:#f4f4f6;
    border-radius:4px;
    -webkit-border-radius:4px;
    border:none;
    height:40px;
    color:#c9c9c9;
    margin-bottom:20px;
    padding-top:10px;
}
.twt-footer {
    padding:12px 15px;
}
.twt-footer,.twt-footer a {
    color:#d2d2d2;
}
.twt-footer i {
    padding-right:10px;
}
.btn-space {
    padding-left:11.6%;
    padding-right:11%;
}
.p-head {
    color:#f77b6f;
    font-weight:400;
    font-size:14px;
}
.cmt-head {
    font-weight:400;
    font-size:13px;
}
.p-thumb img {
    width:50px;
    height:50px;
    border-radius:3px;
    -webkit-border-radius:3px;
}
.tasi-tab .media-body p {
    /*color:#b8bac6;*/
}
.feed-box {
    position:relative;
}
.feed-box img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:85px;
    height:85px;
}
.feed-box h1 {
    font-size:20px;
    color:#8b8b8b;
    font-weight:400;
}
.feed-box a {
    color:#3ac7f9;
}
.profile-nav .user-heading.clock-row {
    padding:20px;
}
.clock-row {
    text-transform:uppercase;
    min-height:170px;
}
ul.clock-category {
    padding:15px 0;
}
ul.clock-category li {
    display:inline-block;
    width:24%;
    text-align:center;
    border:none;
}
ul.clock-category li a span {
    display:block;
    line-height:normal;
}
ul.clock-category li a i {
    font-size:30px;
    padding-right:0;
}
ul.clock-category li a:hover,ul.clock-category li a.active {
    color:#1fb5ad !important;
    background:none !important;
}
ul.clock-category li a:hover i,ul.clock-category li a.active i {
    color:#1fb5ad !important;
}
.clock-row h1 {
    font-size:22px !important;
    font-weight:400 !important;
    letter-spacing:1px;
    margin:0 0 5px 0!important;
    letter-spacing:1px;
}
.clock-row p {
    font-size:18px;
    font-weight:300;
    color:#fff !important;
    margin:0;
}
.wdgt-row {
    text-align:center !important;
}
.wdgt-row i {
    font-size:50px;
}
.wdgt-value h1 {
    color:#c7cbd6;
    font-size:30px;
    font-weight:400;
    margin:0;
}
.wdgt-value p {
    color:#c7cbd6;
    font-size:14px;
    font-weight:300;
    margin:0;
}
.red-bg {
    background:#fa8564;
}
.purple-bg {
    background:#9466b5;
    color:#fff;
}
.weather-box {
    float:left;
    width:100%;
}
.weather-box .symbol {
    border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    padding:61px 15px;
    width:50%;
    float:left;
    text-align:center;
}
.weather-box .symbol i {
    font-size:70px;
    text-shadow:-5px 6px 5px rgba(0,0,0,0.3);
}
.weather-box .value {
    float:right;
    width:50%;
    text-align:center;
    padding:33px 0;
    font-size:14px;
    color:#bdbdbd;
}
.weather-box .value i {
    font-size:20px;
}
.wdgt-row,.prd-img {
    position:relative;
}
.wdgt-row img {
    width:100%;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
}
.wdt-head {
    text-transform:uppercase;
    font-size:16px;
    font-weight:400;
    text-shadow:0 0 3px rgba(0,0,0,0.8);
    color:#fff;
    position:absolute;
    left:20px;
    bottom:15px;
}
.country-select {
    position:absolute;
    top:10px;
    right:10px;
}
.weather-full-info {
    color:#cbcbcb;
}
.weather-full-info h1 {
    font-size:14px;
    font-weight:600;
    margin:0 0 10px 0;
    text-transform:uppercase;
}
.weather-full-info h2 {
    font-size:14px;
    font-weight:300;
    margin:0 0 5px 0;
}
.weather-full-info .today-status i {
    font-size:40px;
    color:#1fb5ad;
}
.weather-full-info .degree {
    font-size:30px;
    font-weight:600;
    display:inline-block;
    padding-left:20px;
}
.weather-full-info .degree:after {
    content:"o";
    position:relative;
    top:-12px;
    font-size:16px;
}
.weather-full-info ul {
    margin-bottom:0;
}
.weather-full-info ul li {
    display:inline-block;
    width:16%;
    text-align:center;
    border-left:1px solid #f1f2f7;
}
.weather-full-info ul li i {
    font-size:25px;
}
.weather-full-info .statistics {
    padding-top:5px;
}
.weather-full-info .statistics:after {
    content:"o";
    position:relative;
    top:-5px;
    font-size:10px;
}
.prd-row {
    position:relative;
}
.btn-add-cart {
    bottom:9px;
    padding:12px;
    position:absolute;
    right:15px;
}
.prd-row img {
    width:100%;
}
.prd-row .action {
    width:100px;
    height:45px;
    position:absolute;
    bottom:10px;
    right:-35px;
    background:rgba(0,0,0,0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
}
.prd-row .action .part1 {
    width:50%;
    float:left;
    text-align:center;
    line-height:45px;
    color:#fff;
    font-size:18px;
}
.yellow-bg-prd {
    background:#ffdd00;
    border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
}
.prd-row h1 {
    font-size:24px;
    font-weight:400;
    color:#5f6165;
    margin:5px 0;
}
.prd-row p {
    margin:0;
    color:#bfc2c4;
}
.prd-row p.normal {
    color:#bfc2c4;
}
.prd-row p.terques {
    color:#1fb5ad;
}
.prd-row .price {
    margin-top:20px;
    margin-bottom:20px;
}
.prd-row .price .amnt {
    color:#1fb5ad;
    font-size:25px;
    font-weight:600;
}
.prd-row .price .amnt:after {
    content:".00";
    position:relative;
    top:-10px;
    font-size:12px;
}
.clock-place {
    margin:-76px auto 0;
}
.btn-gap button {
    margin-right: 10px;
}
/*custom select*/
span.customSelect {
    font-size:12px;
    background-color:#ffffff;
    padding:6px 10px;
    border:1px solid #EAEAEA;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    color:#A4AABA;
    text-align:left;
}
span.customSelect.changed {
    background-color:#fff;
}
.customSelectInner {
    background: url(../images/customSelect-arrow.gif) no-repeat center right;
}

/*--------*/

.profile-nav .user-heading {
    color:#fff;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    padding:30px;
    text-align:center;
}
.profile-nav .user-heading.round a {
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid rgba(256,256,256,0.3);
    display:inline-block;
}
.profile-nav .user-heading a img {
    width:112px;
    height:112px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.profile-nav .user-heading h1 {
    font-size:20px;
    font-weight:300;
    margin-bottom:5px;
}
.profile-nav .user-heading p {
    font-size:16px;
    color:#8b8b8b;
    line-height:25px;
}
.profile-nav ul {
    margin-top:1px;
}
.profile-nav ul>li {
    border-bottom:1px solid #ebeae6;
    margin-top:0;
    line-height:30px;
}
.profile-nav ul>li:last-child {
    border-bottom:none;
}
.profile-nav ul>li>a {
    border-radius:0;
    -webkit-border-radius:0;
    color:#89817f;
}
.profile-nav ul>li>a:hover,.profile-nav ul>li>a:focus,.profile-nav ul li.active a {
    background:#f8f7f5 !important;
    color:#89817f !important;
}
.profile-nav ul>li:last-child>a:last-child {
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
}
.profile-nav ul>li>a>i {
    font-size:16px;
    padding-right:10px;
    color:#bcb3aa;
}
.r-activity {
    margin:6px 0 0;
    font-size: 12px;
}

/* Weather */
.weather-bg {
    background:#8175c7;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    color:#fff;
    text-align:center;
    font-size:16px;
    font-weight:300;
}
.weather-bg i {
    font-size:60px;
    display:block;
}
.weather-bg .degree {
    font-size:60px;
}
.weather-category {
    padding:15px 0;
    color:#74829C;
}
.weather-category ul {
    padding:0;
    margin:0;
    display:inline-block;
    width:100%;
}
.weather-category ul li {
    display:inline-block;
    width:32%;
    text-align:center;
    border-right:1px solid #e6e6e6;
    display:inline-block;
}
.weather-category ul li h5 {
    margin:0 0 5px 0;
    text-transform:uppercase;
    font-weight:300;
}
.weather-category ul li a {
}
.weather-category ul li:last-child {
    border-right: none;
}
/* DASHBOARD STYLE ENDS */

.modal-header {
    background: #BB3D00 none repeat scroll 0 0;
    border-bottom: medium none;
    border-radius: 1px 1px 0 0;
    color: #fff;
}
.purchase .modal-dialog {
    margin: 30px auto;
    width: 78%;
	min-height:850px;
	overflow:auto;
}
.form-control.tbox_small { width:60%; } 
.inline-heading { display:inline-block;}

@media screen and (max-width: 1500px) {
.searchform_wrapp {
    width: 75%;
}
.addnew_wrapp { width:11%;}
}

@media screen and (max-width: 800px) {
.searchform_wrapp {
    width: 70%;
}
.addnew_wrapp { width:20%;}
}
