body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}
.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 1px 0em;
    height: 100%;
}
header {
    background-color: #0168b1;
}
header:after {
    content: " ";
    display: table;
    clear: both;
}
h1, h2, h3 {
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
	 color:#0168B1;
 }
h4, h5, h6 {
    letter-spacing: 1px;
	color:#0168B1;
}
h1 {
    font-size: 28px;
}


/*-------- Login --------*/

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 20px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding:15px 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .login_btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding:15px 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display:block;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login_logo { margin-bottom:20px;}

/*------- End Login --------*/

.main .dev-output pre {
    overflow: auto;
    max-height: 500px;
    background-color: #EBF4FD;
    padding: 0 1em 1em;
}
.brand {
    float: left;
	width:220px;
}

.rm-nav {
    letter-spacing: 1px;
}
.logo {
    margin: 6px 0 5px;
    width: 215px;
	text-align: center;
    display: block;
    float: left;
    padding: 0;
}

.rm-toggle.rm-button {
    margin-top: 10px;
}

.rm-css-animate.rm-menu-expanded {
    max-height: none;
    display: block;
}
.rm-container.rm-layout-expanded {
    float: none;
}
.rm-nav li a,
.rm-top-menu a {
    padding: .75rem 1rem;
    font-size: .8em;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.rm-layout-expanded .rm-nav > ul > li > a,
.rm-layout-expanded .rm-top-menu > .rm-menu-item > a {
    height: 85px;
    line-height: 28px;
	text-align:center;
}

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a > i {
	display:block; text-align:center; padding-top:16px; vertical-align:middle;
}

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_blue { border-bottom:2px solid #0080d1; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_yellow { border-bottom:2px solid #f3c350; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_green { border-bottom:2px solid #70b23f; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_lred { border-bottom:2px solid #e97373; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_purple { border-bottom:2px solid #a481c1; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_orange { border-bottom:2px solid #dd5f28; }



.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_blue:hover { background:#0080d1; color:#fff; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_yellow:hover { background:#f3c350; color:#fff; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_green:hover { background:#70b23f; color:#fff; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_lred:hover { background:#e97373; color:#fff; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_purple:hover { background:#a481c1; color:#fff; }

.rm-layout-expanded .rm-top-menu > .rm-menu-item > a.mnu_orange:hover { background:#dd5f28; color:#fff; }


.user_menu { float:right; margin-top:10px; }
.user_menu li { list-style:none;}
a.top_info { display:inline-block; font-size:13px; text-decoration:none; border-radius:8px; background:#fff; border:3px solid #028ee7; padding:5px 10px; text-align:center }
.top_info i { display:block; text-align:center; margin:0 auto; }

.nav {
    position:relative;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:transpatent;
}
.navbar-nav > li > a { padding:5px 10px; margin-right:5px;}
.navbar-nav > li.dropdown {
    position:relative;   
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:180px;
	right:0 !important;
	float:right;
	position:absolute;
}
.dropdown-menu {
	right:0 !important;
	position:absolute;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background:transparent;
	color:#000;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}


.overall_graph  { text-align:center; margin:0 auto; padding:15px 0; }
.overall_graph img { text-align:center; margin:0 auto; }

.result_by { display:block; padding:5px 0 10px; border-bottom:1px solid #ccc; margin-bottom:15px; }
.result_by a { display:block; float:left; padding:3px 8px; font-size:12px; color:#ccc;}
.result_by a:hover, .result_by a.active{ text-decoration:none; color:#0073CF; }
.perform_byplant { margin-bottom:20px;}

footer { }
.footer { background:#0073CF; color:#eee; text-align:center; padding:8px 0;  margin: 30px auto 0px; 
    width: 100%; z-index: 88; bottom: 0; height:35px;
}
.footer p { margin:0; font-size:12px; }


@media screen and ( max-width: 767px ) {

.brand {
    float: none;
	width:100%;
	height:60px;
	margin:0 auto;
	text-align:center;
}

.logo {
    margin: 6px auto 5px;
	text-align: center;
    display: block;
    float: none;
}
.user_menu { float:none; width:100%; display:block; margin-top:10px; }
.user_menu > .nav > li { display:inline-block; width:49%; float:left; }
.user_menu .navbar-nav { margin:7.5px 1px 7.5px 7px;}

.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:10px;
    width:100%;
	right:0 !important;
	float:none;
	position:absolute;
	background:#fff;
	top:20px;
}
.navbar-nav .open .dropdown-menu {
	
}
.dropdown ul.dropdown-menu li > a { color:#6fc7ff;}
.dropdown ul.dropdown-menu li > a:hover { color:#028ee7;}
.navbar-nav .open dropdown-menu li > a:hover, .navbar-nav .open dropdown-menu li > a:focus {
	color:#028ee7;
}
.dropdown-menu {
	right:0 !important;
	position:absolute;
}
.navbar-nav .open .dropdown-menu { background:#fff; margin-top:12px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background:transparent;
	color:#028ee7;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: 55px;
    left: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 6px solid #ccc;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: 55px;
    left: 15px;
    z-index: 9;
}

}



/*---------- Create Form ----------*/

.form-horizontal .control-label.txt_lft { text-align:left; }

.funkyradio div {

  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1.4em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
.canvasjs-chart-credit {
   display: none;
}

/* ---- Create Form End   ----*/















