<li class="dropdown">
<a id="dLabel"  <?php echo $stock_re_sty; ?> <?php echo $inwardreg_sty; ?> <?php echo $reject_sty; ?>  role="button" data-toggle="dropdown" class="userbtn btn btn-primary" data-target="#" href="#">
Inward<span class="caret"></span>
</a>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
<li class="dropdown-submenu">
<a tabindex="-1" href="#">Inventory Approval</a>
<ul class="dropdown-menu">
<li><a <?php echo $inwardreg_sty; ?> href="inward_register.php">Inward Register</a></li>
<li><a <?php echo $reject_sty; ?> href="reject_list.php">Inward Rejection</a></li>
</ul>
</li>
</ul>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
<li class="dropdown-submenu">
<a tabindex="-1" href="#">Stock Register</a>
<ul class="dropdown-menu">
<li><a href="stock_register.php?mate=1">Raw Material</a></li>
<li><a href="stock_register.php?mate=2">Plastic & Rubber</a></li>
<li><a href="stock_register.php?mate=3">Bought Out Items</a></li>
<li><a href="stock_register.php?mate=4">Consumables</a></li>
</ul>
</li>
</ul>
</li>

<li class="dropdown">
                <a class="dropdown-toggle" <?php echo $stock_re_sty; ?> <?php echo $inwardreg_sty; ?> <?php echo $reject_sty; ?> data-toggle="dropdown" href="#">Inward<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Inventory Approval</a>
                      <ul class="dropdown-menu">
                        <li><a <?php echo $inwardreg_sty; ?> href="inward_register.php">Inward Register</a></li>
                        <li><a <?php echo $reject_sty; ?> href="reject_list.php">Inward Rejection</a></li>
                      </ul>
                    </li>
					<li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Stock Register</a>
                      <ul class="dropdown-menu">
                        <li><a href="stock_register.php?mate=1">Raw Material</a></li>
                        <li><a  href="stock_register.php?mate=2">Plastic & Rubber</a></li>
						<li><a href="stock_register.php?mate=4">Bought Out Items</a></li>
						<li><a  href="stock_register.php?mate=3">Consumables</a></li>
                      </ul>
                    </li>
                </ul>
            </li>