<table class="table listhead table-bordered table-hover" align="center" cellspacing="0" cellpadding="0">
<tbody><tr>
<td colspan="6" align="center" valign="middle"><label>RAW MATERIAL INWARD</label></td>
</tr>

<tr>

<td><label>Date:</label></td>
<td><input type="date" name="date" id="date" value="2017-10-29" required="" class="form-control"></td>

<td><label>GRN NO:</label></td>
<td colspan="2">
<label>MMSPL-GRN002</label>
<input type="hidden" name="inward_no" id="inward_no" value="MMSPL-GRN002">
</td>
</tr>
<tr>
<td><label>DC/INV NO</label></td>
<td><input type="text" name="inv_no" id="inv_no" required="" class="form-control"></td>
<td width="70px"><label>Supplier Name:</label></td>
<td style="padding: 4px;" colspan="2">
<select id="supplier" name="supplier" class="form-control tbox_small" required="">
	<option value="" selected="" disabled="">Select</option>
		<option value="1">Kwality Plast</option>
  </select>
</td>
</tr>
<tr>
<td><label>Inv Date</label></td>
<td><input type="date" name="inv_date" id="inv_date" value="2017-10-29" required="" class="form-control"></td>
<td width="70px"><label>Material Catagory</label></td>
<td style="padding: 4px;" colspan="2">
<select id="material" name="material" class="form-control tbox_small" required="">
	<option value="" selected="" disabled="">Select</option>
		<option value="1">Raw Material</option>
  	<option value="2">Palstic  &amp; Rubber Parts</option>
  	<option value="3">Consumable stores</option>
  	<option value="4">Bought out Parts</option>
  </select>
</td>
</tr>
<tr>
<td align="center">SL No</td>
<td align="center">Item Name</td>
<td align="center">Specification</td>
<td align="center">Qty Received</td>
<td align="center">Qty ordered</td>
</tr>
<tr id="product_tr_0">
<td align="center">1</td>
<td style="padding: 4px;" align="center">

<select id="product_id_1" name="product_id[]" class="form-control tbox_small" onchange="product_choose(this,1);">
	<option value="" selected="" disabled="">Select</option>
		<option value="1" order_qty="10">pc1</option>
		<option value="2" order_qty="50">pc2</option>
		<option value="3" order_qty="60">pcf1</option>
		<option value="4" order_qty="10">pcf2</option>
	</select>
</td>
<td align="center" style="padding: 4px;"><input type="text" name="specification[]" id="specification_1" class="form-control tbox_small" value=""></td>

<td align="center" style="padding: 4px;">
<input type="text" name="qty[]" id="qty_1" class="form-control tbox_small" disabled="" onblur="find_max(this);total_received();">
</td>
<td align="center" style="padding: 4px;" colspan="2">
<input type="text" class="form-control tbox_small" name="order[]" id="order_1" value="" disabled="">
</td>
</tr>
<tr id="product_tr_0">
<td align="center">2</td>
<td style="padding: 4px;" align="center">

<select id="product_id_2" name="product_id[]" class="form-control tbox_small" onchange="product_choose(this,2);">
	<option value="" selected="" disabled="">Select</option>
		<option value="1" order_qty="10">pc1</option>
		<option value="2" order_qty="50">pc2</option>
		<option value="3" order_qty="60">pcf1</option>
		<option value="4" order_qty="10">pcf2</option>
	</select>
</td>
<td align="center" style="padding: 4px;"><input type="text" name="specification[]" id="specification_2" class="form-control tbox_small" value=""></td>

<td align="center" style="padding: 4px;">
<input type="text" name="qty[]" id="qty_2" class="form-control tbox_small" disabled="" onblur="find_max(this);total_received();">
</td>
<td align="center" style="padding: 4px;" colspan="2">
<input type="text" class="form-control tbox_small" name="order[]" id="order_2" value="" disabled="">
</td>
</tr>
<tr id="product_tr_0">
<td align="center">3</td>
<td style="padding: 4px;" align="center">

<select id="product_id_3" name="product_id[]" class="form-control tbox_small" onchange="product_choose(this,3);">
	<option value="" selected="" disabled="">Select</option>
		<option value="1" order_qty="10">pc1</option>
		<option value="2" order_qty="50">pc2</option>
		<option value="3" order_qty="60">pcf1</option>
		<option value="4" order_qty="10">pcf2</option>
	</select>
</td>
<td align="center" style="padding: 4px;"><input type="text" name="specification[]" id="specification_3" class="form-control tbox_small" value=""></td>

<td align="center" style="padding: 4px;">
<input type="text" name="qty[]" id="qty_3" class="form-control tbox_small" disabled="" onblur="find_max(this);total_received();">
</td>
<td align="center" style="padding: 4px;" colspan="2">
<input type="text" class="form-control tbox_small" name="order[]" id="order_3" value="" disabled="">
</td>
</tr>
<tr id="product_tr_0">
<td align="center">4</td>
<td style="padding: 4px;" align="center">

<select id="product_id_4" name="product_id[]" class="form-control tbox_small" onchange="product_choose(this,4);">
	<option value="" selected="" disabled="">Select</option>
		<option value="1" order_qty="10">pc1</option>
		<option value="2" order_qty="50">pc2</option>
		<option value="3" order_qty="60">pcf1</option>
		<option value="4" order_qty="10">pcf2</option>
	</select>
</td>
<td align="center" style="padding: 4px;"><input type="text" name="specification[]" id="specification_4" class="form-control tbox_small" value=""></td>

<td align="center" style="padding: 4px;">
<input type="text" name="qty[]" id="qty_4" class="form-control tbox_small" disabled="" onblur="find_max(this);total_received();">
</td>
<td align="center" style="padding: 4px;" colspan="2">
<input type="text" class="form-control tbox_small" name="order[]" id="order_4" value="" disabled="">
</td>
</tr>
<tr id="product_tr_0">
<td align="center">5</td>
<td style="padding: 4px;" align="center">

<select id="product_id_5" name="product_id[]" class="form-control tbox_small" onchange="product_choose(this,5);">
	<option value="" selected="" disabled="">Select</option>
		<option value="1" order_qty="10">pc1</option>
		<option value="2" order_qty="50">pc2</option>
		<option value="3" order_qty="60">pcf1</option>
		<option value="4" order_qty="10">pcf2</option>
	</select>
</td>
<td align="center" style="padding: 4px;"><input type="text" name="specification[]" id="specification_5" class="form-control tbox_small" value=""></td>

<td align="center" style="padding: 4px;">
<input type="text" name="qty[]" id="qty_5" class="form-control tbox_small" disabled="" onblur="find_max(this);total_received();">
</td>
<td align="center" style="padding: 4px;" colspan="2">
<input type="text" class="form-control tbox_small" name="order[]" id="order_5" value="" disabled="">
</td>
</tr>

<tr>
<td colspan="3" rowspan="3">
<label>Remarks:</label>
<textarea class="form-control" style="resize:none;" name="comments" id="comments" placeholder="Comments"></textarea>
</td>
<td align="center" id="overtime_td">
<label>Total Qty Ordered</label>
</td>
<td align="center" id="overtime_td">
<label id="orderd_qty">0</label>
</td> 
</tr>
<tr>
<td align="center" id="overtime_td">
<label>Total Qty Received</label>
</td>
<td align="center" id="overtime_td">
<label id="received_qty">0</label>
</td> 
</tr>
<tr>
<td align="center" id="overtime_td">
<label>Balance Qty</label>
</td>
<td align="center" id="overtime_td">
<label id="balance_qty">0</label>
</td> 
</tr>
<tr>
<td align="center" id="overtime_td">
<label>Received By</label>
</td>
<td align="center" id="overtime_td" colspan="2">
<input type="text" name="received_by" id="received_by" class="form-control">
</td>
<td align="center" colspan="2">
<button type="button" style="margin-right: 252px;" onclick="window.location.href='inward_list.php'" class="btn btn-primary">Cancel</button>
<button type="submit" class="btn btn-primary">Save</button></td>
</tr>
</tbody></table>